.author {
    margin-right: 2ch;
}

#clean-profiles-selected:not(:empty)::before {
    content: "(";
}

#clean-profiles-selected:not(:empty)::after {
    content: ")";
}

#webpage-text {
    /* display: block;
    unicode-bidi: embed;
    font-family: monospace; */
    white-space: pre;
}

#webpage-text .queued.active {
    border: 2px solid blue;
    border-radius: 5px;
}

#webpage-text #previewed,
#webpage-text .queued {
    overflow: auto;
}

#tips::before {
    content: "Tip: ";
}

#tips:empty::after {
    content: "Tips will show up here.";
}